
  <div>
    <nav class="navbar navbar-light bg-header text-center">
      <div class="col-md-12 col-sm-12">
        <a class="welcome-board-name" href="#">All Statistic Of Your Crypto Portfolio In One App For Free</a>
      </div>
    </nav>
  </div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-4 mt-5">
        <a href="https://www.youtube.com/watch?v=LtBAKqn0oPQ&t=4s" target="_blank">
          <div class="content-inner fl-wrap">
            <div class="content-front">
              <div class="cf-inner">
                <div class="bg" style="background-image: url(https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);"></div>
                <div class="overlay"></div>
                <div class="inner">
                  <h2>Profit And Loss</h2>
                  <ul>
                    <li>All</li>
                    <li>Your</li>
                    <li>Orders</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-back">
              <div class="cf-inner">
                <div class="inner">
                  <div class="dec-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#04BBD6" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
                      <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
                    </svg>
                  </div>
                  <p>See profit and loss of all your orders from all crypto exchange in real time</p>
                  <div class="serv-price-wrap"><span>Price</span> FREE</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mt-5">
        <div class="content-inner fl-wrap">
          <div class="content-front">
            <div class="cf-inner">
              <div class="bg " style="background-image: url(https://images.unsplash.com/flagged/photo-1553267252-d100936057c1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);"></div>
              <div class="overlay"></div>
              <div class="inner">
                <h2>Portfolio Statistics</h2>
                <ul>
                  <li>Visualize Your Portfolio</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-back">
            <div class="cf-inner">
              <div class="inner">
                <div class="dec-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#04BBD6" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                    <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
                  </svg>
                </div>
                <p>See necessary statistic of portfolio</p>
                <div class="serv-price-wrap"><span>Price</span> FREE</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="content-inner fl-wrap">
          <div class="content-front">
            <div class="cf-inner">
              <div class="bg" style="background-image: url(https://images.unsplash.com/photo-1584091377126-3817650725fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);"></div>
              <div class="overlay"></div>
              <div class="inner">
                <h2>Configure Notification</h2>
                <ul>
                  <li>Price Changes</li>
                  <li>Profit & Loss Changes</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-back">
            <div class="cf-inner">
              <div class="inner">
                <div class="dec-icon">
                  <!--here you can use any icon svg file--->
                  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#04BBD6" class="bi bi-alarm-fill" viewBox="0 0 16 16">
                    <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z"/>
                  </svg>
                </div>
                <p>Keep your finger on the pulse of your portfolio events</p>
                <div class="serv-price-wrap"><span>Price</span> FREE</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



